altgraph==0.17.3
ansimarkup==1.5.0
certifi==2021.5.30
colorama==0.4.5
et-xmlfile==1.1.0
importlib-metadata==4.8.3
numpy==1.19.5
openpyxl==3.1.2
pandas==1.1.5
pefile==2023.2.7
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.0
PyYAML==6.0
selenium==3.141.0
six==1.16.0
typing_extensions==4.1.1
urllib3==1.26.15
wincertstore==0.2
xlrd==2.0.1
zipp==3.6.0
